html{
	/*background:linear-gradient(45deg,#C55E27,#A95022);*/
     background-color:grey;
}

*{
	padding: 0px;
	box-sizing: border-box;
	margin: 0px;
	border: none;
}

.zero{
    height:180px;
    font-family:'Krona one';
    font-size:80px;
    background:linear-gradient(45deg,#9EC9C4,#3B4B4A);
    border-radius:10px;
    padding-top:30px;
    padding-bottom:0px;
}
.one{
	margin-top:10px;
	height:1000px;
}
.two{
	height:250px;
	padding-top:10px;
	background: #85C1E9;

	

}

.two ul{
	display: flex;
	flex-direction: column;
	justify-content:center;
}
.two > ul > li{
	margin-top:10px;
	font-family:nunito;
	font-size:30px;
	list-style-type:none;
	width:240px;
	margin-bottom: 2px;
	border-radius: 10px;
	background-color:#5E6574;
	text-align:center;
	background:#F4F6F7;
	box-shadow: .2rem 0rem 1rem .2rem;
	
}
.two > ul > li > a{
 text-decoration:none;
 
}
.two > ul > li > a:hover{
	color:#020815;
	cursor:pointer;
}
.two > ul > li:hover{
	transform:scale(1.1);
	cursor:pointer;
}

